.container {
    margin-top: 1em;
}

.container-title {
    margin-bottom: 1em;
}

nav span {
    color: rgb(221 198 198 / 90%);
}

.tabla {
    line-height: 0.2em;
    margin-top: 1.4em;
}

.container-tablas{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
